@import '../../../variables.scss';


/*Question*/
.typewriter h1 {
  font-size: $speText-mobile-size;
  font-weight: 400;
  color: $white;
  overflow: hidden;
  font-family: $speText-font;
  border-right: .15em solid $yellow;
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

.typewriter {
    width: 495px;
    margin: 0 auto 17px auto;
}

/*Input*/
.input-content {
    position: absolute;
    top: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    border-radius: 25px;
    border: none;
    height: 40px;
    outline: none;
    text-align: center;
    width: 575px;
    @media (min-width: 1366px) {
        width: 575px;
    }
}

.input::placeholder {
    color: #b2b2b2;
    font-family: $text-font;
    font-size: $btn-mobile-size;
    text-align: center;
    font-weight: $btn-weight;
}

.link-intro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $btn-size;
    text-decoration: none;
}