@import '../../../variables.scss';

.home-main-container {
    position: relative;
    color: $white;
    background: $black;
    height: 100vh;
    width: 100%;

    .home-main-title {
        // position: absolute;
        padding-top: 120px;
        text-align: center;
        font-size: $title-mobile-size;
        font-weight: $title-weight;
        font-family: $title-font;
        width: 100%;
        margin: 0;

        .home-main-title-red {
            color: $red;
        }
    }
    .home-main-butterfly {
        width: 380px;
        height: 230px;
        background: $red;
        margin: 86px auto 45px auto;
    }
    .home-main-text {
        width: 320px;
        text-align: center;
        margin: auto;
        font-family: $speTips-font;
        font-size: $speText-mobile-size;
        font-weight: $speTips-weight;

    }
}