@import '../../variables.scss';

html, body, #root, .App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
canvas {
  display: block;
}

body {
  background: $black;
  color: white;
  position: relative;
}

p {
  line-height: 1.5;
}

.dot {
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 25px;
  cursor: pointer;
}
@media (min-width: 1366px) {
  .dot {
    top: 50px;
    right: 50px;
  }
}

.typewriter {
  font-family: $speText-font;
  background: transparent;
  color: $white;
  &::after {
      content: '|';
      color: $red;
      animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}
