@import '../../variables.scss';

html, body, #root, .App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
canvas {
  display: block;
}

body {
  background: $black;
  color: white;
  position: relative;
}

p {
  line-height: 1.5;
}

.dot {
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 25px;
  cursor: pointer;
}
@media (min-width: 1366px) {
  .dot {
    top: 50px;
    right: 50px;
  }
}

.typewriter {
  font-family: $speText-font;
  background: transparent;
  color: $white;
  &::after {
      content: '|';
      color: $red;
      animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}
.back-home {
   border: none ; 
  background: transparent;
  outline: none;
  cursor: pointer;
}

.home-icon-text {
  display: none;
font-size:  $text-mobile-size;
font-family: $speText-font;
color: $white;
}

.hover-underline-animation:hover, .home-icon-text:hover::after {
display: inline-flex;
}

.hover-underline-animation {
      z-index: 10;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 50px;
    color: #F8F8F8;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-icon {
  width: 50px;
  margin-right: 7px;
}
