@import '../../variables.scss';

html, body, #root, .App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
canvas {
  display: block;
}

body {
  background: rgba(0,0,0,0.8);
  color: white;
  position: relative;
}

.dot {
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 25px;
  cursor: pointer;
}
@media (min-width: 1366px) {
  .dot {
    top: 50px;
    right: 50px;
  }
}