@import '../../../variables.scss';



.intro-main {
    display: flex;
    height: 100vh;
    cursor: pointer;

    position: relative;
    .intro-three {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .intro-main-container {
        
        width: 100%;
        height: 148px;
        color: $white;
        font-family: $text-font;
        font-weight: $text-weight;
        font-size: $text-mobile-size;
        text-align: center;
        line-height: normal;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &.last {
            font-family: $speText-font;
            background: transparent;
        }

        .intro-main-container-text {
            padding: 35px 30px;
        }
    }
    @media (min-width: 1366px) {
        .intro-main-container {
            height: 200px;
            font-size: $text-desktop-size;
        }
    }
}

.dunes-background {
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
}