@import '../../../variables.scss';

body {
  //  background-color: #232123;
}

video {
    width: 100%;
    height: 100%;
}


#conclusion-content {
    width: 60%;
    margin: auto;
    font-family: $speText-font;
}

// .video-content {
//     display: flex;
//     justify-content: center;
// }

.hidden {
    display: none;
}

.last { 
    font-family: $speText-font;
}

.main-thd-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// .video-designer-section {
//     transform: translate(0, 5em);
// }

.text-globe {
    font-family: $chaos-font;
    font-weight: $chaos-weight;
    font-size: $text-desktop-size;
}

.red {
    color: $red;
}

.img-globe {
        width: 50%;
    margin-bottom: 60px;
    height: 50%;
}