@import url('https://fonts.googleapis.com/css?family=VT323');

/**
    * Variables --colors
    ********************
*/
    $red: #F65858;
    $white: #F8F8F8;
    $black: #27282D;
    $purple-blue: #4830DA;
    $light-blue: #59F4F4;
    $yellow: #FFE660;
    $green: #19C285;
    $pink: #EE3FBD;

/**
    * Variables --fonts
    *******************
*/
    /* --CHAOS */
        $chaos-font: 'Century Gothic';
        $chaos-weight: bold;
        $chaos-size: 90px;

    /* --titles */
        $title-font: 'Century Gothic';
        $title-weight: bold;
        $title-desktop-size: 32px;
        $title-mobile-size: 22px;


    /* --texts */
        $text-font: 'Century Gothic';
        $text-weight: regular;
        $text-desktop-size: 24px;
        $text-mobile-size: 20px;

    /* --buttons */
        $btn-font: 'Century Gothic';
        $btn-weight: 600;
        $btn-size: 20px;

    /* --inputs */
        $btn-font: 'Century Gothic';
        $btn-weight: regular;
        $btn-desktop-size: 18px;
        $btn-mobile-size: 16px;
    
    /* --Spe-text ********* */
        $speText-font: 'VT323';
        $speText-weight: regular;
        $speText-desktop-size: 26px;
        $speText-mobile-size: 22px;

    /* --Spe-tips ********* */
        $speTips-font: 'VT323';
        $speTips-weight: regular;
        $speTips-desktop-size: 22px;
        $speTips-mobile-size: 20px;

        /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $yellow }
}

/*Button*/
.button {
    background-color: $red;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 0px 0px rgba(187,51,51,1);
    color: $white;
    font-family: $text-font;
    font-size: 14px;
    height: 3.5em;
    margin-top: 1em;
    outline: none;
    width: fit-content;
    align-items: center;
    display: flex;
    padding: 1em 3em;
}

.button:focus {
    transform: translate(0, 5px);
    box-shadow: none;
}

.typewriter {
    font-family: $speText-font;
    background: transparent;
    color: $white;
}

.bg-overlay {
    background-color: rgba(42, 42, 42, 0.4);
}

/******LETTERS*****/
.letter {
     color: $white;
     font-family: $chaos-font;
     font-size: 80px;
     font-weight: 900;
}

/*Animation letter*/
@keyframes MoveLetter {
 
0% {
  transform: translate3D(0px, 10px, 0px);
}

25% {
   transform: translate3D(29px, -18px, 5px);
   text-shadow: 
   -10px 5px 2px rgba(255, 255, 255, 0.8),
   -20px 11px 2px rgba(255, 255, 255, 0.6),
   -30px 14px 2px rgba(255, 255, 255, 0.2)
}
 
50% {
  transform: translate3D(15px, 8px, 5px);
  text-shadow: 
  6px -8px 2px rgba(255, 255, 255, 0.8),
  10px -14px 2px rgba(255, 255, 255, 0.6),
  15px -20px 2px rgba(255, 255, 255, 0.2);
}
 75% {
  transform: translate3D(-10px, -10px, 5px);
  text-shadow: 
  7px 2px 2px rgba(255, 255, 255, 0.8),
  14px 7px 2px rgba(255, 255, 255, 0.6),
  20px 10px 2px rgba(255, 255, 255, 0.2);
}

}

.C {
    position: absolute;
    top: 23%;
    left: 23%;
    animation: MoveLetter 12s ease infinite;
}


.H{
    position: absolute;
    top: 59%;
    left: 13%;
    animation: MoveLetter 14s ease infinite;
}

.A{
    position: absolute;
    bottom: 29%;
    right: 10%;
    animation: MoveLetter 8s ease infinite;
}

.O{
    position: absolute;
    bottom: 8%;
    right: 50%;
    animation: MoveLetter 11s ease infinite;
}

.S {
    position: absolute;
    top: 8%;
    right: 30%;
    animation: MoveLetter 10s ease infinite;
}